<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pedidos</title>
</head>
<body>
    <h1>Lista de Pedidos</h1>
    <a th:href="@{/}">Voltar</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Status</th>
                <th>Forma Pagamento</th>
                <th>Total</th>
                <th>Frete</th>
                <th>Desconto</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pedido : ${pedidos}">
                <td th:text="${pedido.id}"></td>
                <td th:text="${pedido.dataCriacao}"></td>
                <td th:text="${pedido.status}"></td>
                <td th:text="${pedido.formaPagamento}"></td>
                <td th:text="${pedido.valorTotal}"></td>
                <td th:text="${pedido.frete}"></td>
                <td th:text="${pedido.desconto}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
